<style>
    th, td {
        padding: 10px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing:0;
        font-size: 12px;
        text-align:center;
    }
</style>

<h3 style="padding-bottom: 10px">Emails not sent in the last 2 days</h3>
<table>
     <tr>
        <th>Date</th>
        <th>PO Number</th>
        <th>Sender</th>
         <th>Recipient</th>
         <th>Option</th>
     </tr>
    {% for email in message%}
        <tr>
            <td>{{email[0]}}</td>
            <td>{{email[1]}}</td>
            <td>{{email[3]}}</td>
            <td>{{email[4]}}</td>
            <td>{{email[5]}}</td>
        </tr>
    {% endfor %}

</table>