<h4><center>Updated items Summary Report</center></h4>
<h4><center>{{filters.branch}}</center></h4>
<center>Date: {{filters.date}}</center>
<table class = "table table-bordered table-condensed">
    <tr>
        {% for ( var i = 0, l = report.columns.length; i < l; i++) { %}
            {% var col = report.columns[i] %}
            {% if col.label != "Modified By" %}
                {% if col.label != "Modified On" %}
                    <th><center>{%= col.label %}</center></th>
                {% endif %}
            {% endif %}
        {% } %}

    </tr>

    {% for (var i=0, l= data.length; i < l; i++) { %}
    {% var row = data[i]; %}
    <tr>
        {% for ( var x = 0, y = report.columns.length-2; x < y; x++) { %}
            {% if x== 0%}
                <td>{{(i+1)}}</td>
            {% endif %}
            {% if x>0 %}
                {% var col = report.columns[x] %}

                    <td><center>{%= frappe.format(row[col.fieldname], {fieldtype: col.fieldtype}) %}
                    </center></td>

            {% endif %}
        {% } %}
    </tr>

    {% } %}
</table>

<table width=700px;>
         <tr>
                <td style=" width: 16% ;">Prepared By</td>
        </tr>
</table>
